.contact {
  background: #36d68c;
  min-height: 100vh;
  padding: 40px 0;
  color: #f2f2f2;
}

.top-nav {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 36px;
}

.top-nav span {
  cursor: pointer;
}

.nav-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.contact-main {
  max-width: 700px;
  background: rgba(0,0,0,0.05);
  border-radius: 24px;
  margin: 0 auto;
  padding: 36px 28px 28px 28px;
  box-shadow: 0 3px 18px rgb(0 0 0 / 7%);
}

.contact-main h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 36px;
}

.contacts-list {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 36px;
  flex-wrap: wrap;
}

.contact-info {
  background: rgba(0,0,0,0.08);
  border-radius: 15px;
  padding: 20px 18px;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.03);
}

.contact-info span {
  display: inline-block;
  margin-bottom: 10px;
}

.contact-info strong {
  font-size: 1.11rem;
  letter-spacing: 1px;
  margin-bottom: 9px;
  color: #fff;
}

.contact-info p {
  color: #f8f8f8;
  font-size: 1rem;
  text-align: center;
}

.contact-info i {
  font-size: 2.2rem !important; 
  margin-bottom: 10px;
}


.contact-email {
  font-weight: bold;
  word-break: break-all;
}

.contact-social {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 14px;
}

.contact-social a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 2rem;
  transition: color 0.2s;
}

.contact-social a:hover {
  color: #353535;
}

@media (max-width: 650px) {
  .contact {
    padding: 18px 0;
  }
  .contact-main {
    padding: 11px 2vw;
    border-radius: 14px;
    min-width: 95vw;
    max-width: 97vw;
  }
  .contacts-list {
    flex-direction: column;
    gap: 18px;
    align-items: stretch;
  }
  .contact-info {
    min-width: unset;
    width: 100%;
    border-radius: 10px;
    padding: 16px 7px;
    font-size: 0.97rem;
    margin-bottom: 7px;
  }
  .contact-info strong {
    font-size: 1rem;
  }
  .contact-info p {
    font-size: 0.97rem;
  }
}

.contact-info {
  margin-bottom: 17px;
}
