<section class="contact">
  <div class="contact-main">
    <h2>COMO VOCÊ PREFERE FALAR COM A GENTE?</h2>
    <div class="contacts-list">
      <div class="contact-info">
        <span>
          <i class="fa-solid fa-envelope" style="color: #fcfcfd; font-size: 1.5rem;"></i>
        </span>
        <strong>E-MAIL</strong>
        <p>
          Quer Nos Ajudar?<br>
          Ou tem Alguma Dúvida?<br>
          Fale Com a gente por E-mail.<br>
          <span class="contact-email">matheusoliveira140108&#64;gmail.com</span>
        </p>
      </div>

      <div class="contact-info">
        <span><i class="fa-solid fa-phone" style="color: #f0f0f0;"></i></span>
        <strong>TELEFONE</strong>
        <p>
          Você Pode Ligar A Qualquer Hora.<br />
          <strong>(71)98722-3798</strong>
        </p>
      </div>
      <div class="contact-info">
        <span>
          <i class="fa-brands fa-telegram" style="color: #f2f2f2; font-size: 1.5rem;"></i>
        </span>
        <strong>TELEGRAM</strong>
        <p>Para mais informações, entre em contato conosco pelo Telegram.</p>
      </div>

    </div>
  </div>
</section>